#mainLogo
{
	display: block;
	margin: auto;
    height: 352px;
    width: 777px;
}
#smallLogo
{
	display: block;
	margin-left: 20px;
    height: 175px;
    width: 200px;
}

/*     the different container used     */
.container
{
    display: flex;
}
.optionDescription
{
    display: flex;
}
.optionDescription *
{
	flex: 4;
}

.slidecontainer
{
  display: flex;
  width: 100%; /* Width of the outside container */
}
.slider
{
  margin-top: 13px;
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider:hover
{
  opacity: 1; /* Fully shown on mouse-over */
}
.slider::-webkit-slider-thumb
{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb
{
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


@font-face
{
    font-family: 'segoepr';
    src: url('./segoepr.ttf');
}

/*     default parameters     */
body
{
	overflow	: scroll;
	padding		: 1;
	margin		: 0;
	
	text-align: left;
	text-decoration: none;
	
	font-style: normal;
	font-weight: normal;
    font-family: Verdana;
	font-size: 1em;
	
	color: black;
	background-color: white;
}


footer
{
	margin: 10px;
	
	border-style: solid;
    border-width: 2px;
	border-color: black;
	border-radius: 20px;
	
	background-color: #c9c9c9;
	
	text-align: center;
}
nav
{
	border-style: solid;
    border-width: 2px;
	border-color: black;
	border-radius: 20px;
	
	background-color: #c9c9c9;
	
	margin: 10px;
	
	width: 25%;
	min-width: 200px;
	max-width: 300px;
	flex: 1;
}
section
{
	margin: 10px;
	
	width: 75%;
	min-width: 777px;
	flex: 4;
}
header
{
	margin: 10px;
	
	border-style: solid;
    border-width: 2px;
	border-color: black;
	border-radius: 20px;
	
	background-color: #c9c9c9;
}


/*     lists parameters    */
ul.navlist
{
	list-style-type: none;
}



/*      links parameters      */
a
{
	text-decoration: underline;
	color: blue;
}
a:hover, a:hover:visited
{
	text-decoration: none;
	color: green;
}
a:visited
{
	color: purple;
}
a.hiddenlink, a.hiddenlink:hover, a.hiddenlink:hover:visited, a.hiddenlink:visited
{
	text-decoration: none;
	color: black;
}
a.navlink, a.navlink:visited
{
	text-decoration: none;
	color: black;
}
a.navlink:hover, a.navlink:hover:visited
{
	text-decoration: none;
	color: red;
}

/*     parameters titles     */
h1
{
	margin: auto;
	text-align: center;
	font-weight: bold;
    font-family: segoepr;
	font-size: 4em;
	flex: 1;
}
h2
{
	text-align: center;
	font-size: 2em;
}
h3
{
	font-size: 1.2em;
}


/*     special word     */
em
{
	font-style: italic;
	color: silver;
}
strong
{
	font-weight: bold;
}



/*     special window     */
#javascriptWindow
{
	display: block;
	text-align: center;
	
	min-width: 900px;
	min-height: 600px;
	background-color: black;
}












